.modal{
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
}
.myModal{
  width: 500px;
  height: auto;
  position: absolute;
  top:10%;
  padding: 6px;
  background-color: white;
  left: 36%;
  text-align: center;
  border-radius: 10px;
}
